body { 
    margin: 0; 
    font-family: 'Times New Roman', serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column; /* Apila el header y el main verticalmente */
}

/* Bloque Principal */
.mura-header {
    background: #1a1a1a;
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
}

/* Elemento del bloque */
.mura-logo {
    font-family: 'Impact', sans-serif;
    color: white;
    margin: 0;
    font-size: 3rem;
}

.mura-nav__list {
    display: flex;
    list-style: none;
    gap: 20px;
    
}

/* Componente de botón independiente */
/* Componente de botón */
.mura-btn {
    background: none;
    border: 1px dashed white;
    color: #ffcc00;
    cursor: pointer;
    padding: 8px 16px; /* Aumenté un poco el padding para que el texto tenga aire */
    font-size: 1.3rem; /* ¡Este es el tamaño recomendado! */
    font-family: 'Courier New', monospace; /* Mantenemos la tipografía inconsistente */
}

/* Área de contenido */
.mura-app {
    padding: 2rem;
    max-width: 800px; /* Limita el ancho para que no se estire demasiado */
    margin: 0 auto;   /* Esto centra el contenedor horizontalmente */
    width: 100%;      /* Asegura que no se desborde en móviles */
    box-sizing: border-box; /* Incluye el padding en el ancho total */
}